<html>
<% include partials/page_header %>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="page-header">
      <%= title %>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <form class="form" action="/items/edit/<%= item.id %>" method="post">
          <div class="form-group col-xs-6">
            <label for="itemType">Tipo</label>
            <input type="text" class="form-control" name="itemType" value="<%= item.itemType %>">
          </div>
          <div class="form-group col-xs-6">
            <label for="itemName">Nome</label>
            <input type="text" class="form-control" name="itemName" value="<%= item.itemName %>">
          </div>
          <div class="form-group col-xs-3">
            <label for="quantity">Quantidade</label>
            <input type="number" class="form-control" name="quantity" value=<%= item.quantity %>>
          </div>
          <div class="form-group col-xs-3">
            <label for="price">Preço</label>
            <div class="input-group">
              <span class="input-group-addon">R$</span>
              <input type="text" class="form-control" name="price" value="<%= item.price %>">
            </div>
          </div>
          <div class="form-group col-xs-3">
            <label for="operation">Operação</label>
            <select class="form-control" name="operation">
              <option value="Compra">Compra</option>
              <option value="Venda">Venda</option>
            </select>
          </div>
          <div class="form-group col-xs-12">
            <input type="submit" name="send" value="Gravar" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<% include partials/page_footer %>
</html>
