<html>
<% include partials/page_header %>
<body>
  <% include partials/navbar %>
  <div class="container-fluid">
    <p style="font-size: 32px;"><%= title %></p>
    <form class="form" action="" method="post" id="itemForm">
      <div class="form-group col-xs-2">
        <label class="control-label" for="itemType">Tipo</label>
        <input type="text" class="form-control" name="itemType" id="itemType" autofocus value="<%= edit.itemType %>" placeholder="Obrigatório, apenas letras.">
      </div>
      <div class="form-group col-xs-3">
        <label class="control-label" for="itemName">Nome</label>
        <input type="text" class="form-control" name="itemName" id="itemName" value="<%= edit.itemName %>"placeholder="Obrigatório, apenas letras.">
      </div>
      <div class="form-group col-xs-2">
        <label class="control-label" for="quantity">Quantidade</label>
        <input type="number" class="form-control" name="quantity" id="quantity" min="1" value="<%= edit.quantity %>" placeholder="Apenas números.">
      </div>
      <div class="form-group col-xs-2">
        <label class="control-label" for="price">Preço</label>
        <div class="input-group">
          <span class="input-group-addon">R$</span>
          <input type="text" class="form-control" name="price" id="price" value="<%= edit.price %>" placeholder="Apenas números.">
        </div>
      </div>
      <div class="form-group col-xs-2">
        <label class="control-label" for="operation">Operação</label>
        <select class="form-control" name="operation" id="operation">
          <option value="Compra">Compra</option>
          <option value="Venda">Venda</option>
        </select>
      </div>
      <div class="form-group col-xs-1">
        <label style="width: 100%">&nbsp;</label>
        <input type="submit" id="send" value="Gravar" class="btn btn-success">
      </div>
    </form>
    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr class="bg-primary">
          <th>Tipo</th>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Preço</th>
          <th>Operação</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(function(item){ %>
          <tr>
            <td><%= item.itemType %></td>
            <td><%= item.itemName %></td>
            <td><%= item.quantity %></td>
            <td>R$&nbsp;<%= item.price %></td>
            <td><%= item.operation %></td>
            <td class="table-buttons">
              <a href="/items/edit/<%= item.id %>" class="btn btn-warning btn-table btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a href="/items/delete/<%= item.id %>" class="btn btn-danger btn-table btn-xs">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
<% include partials/page_footer %>
</html>
