<html>
<% include partials/page_header %>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="page-header">
      <%= title %>
    </div>
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr class="bg-primary">
          <th style="width: 25%">Tipo</th>
          <th style="width: 25%">Nome</th>
          <th style="width: 15%">Quantidade</th>
          <th style="width: 15%">Preço</th>
          <th style="width: 10%">Operação</th>
          <th style="width: 10%; text-align: right;">
            <button type="button" name="add_item" class="btn btn-default btn-xs" data-toggle="modal" data-target="#add_item_modal">
              <span class="glyphicon glyphicon-plus"></span>&nbsp;Adicionar Mercadoria
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(function(item){ %>
          <tr>
            <td><%= item.itemType %></td>
            <td><%= item.itemName %></td>
            <td><%= item.quantity %></td>
            <td>R$&nbsp;<%= item.price %></td>
            <td><%= item.operation %></td>
            <td class="table-buttons">
              <a href="/items/edit/<%= item.id %>" class="btn btn-warning btn-table btn-xs">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a href="/items/delete/<%= item.id %>" class="btn btn-danger btn-table btn-xs">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="add_item_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Adicionar Mercadoria</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <form class="form" action="/items" method="post">
              <div class="form-group col-xs-6">
                <label for="itemType">Tipo</label>
                <input type="text" class="form-control" name="itemType">
              </div>
              <div class="form-group col-xs-6">
                <label for="itemName">Nome</label>
                <input type="text" class="form-control" name="itemName">
              </div>
              <div class="form-group col-xs-4">
                <label for="quantity">Quantidade</label>
                <input type="number" class="form-control" name="quantity">
              </div>
              <div class="form-group col-xs-4">
                <label for="price">Preço</label>
                <div class="input-group">
                  <span class="input-group-addon">R$</span>
                  <input type="text" class="form-control" name="price">
                </div>
              </div>
              <div class="form-group col-xs-4">
                <label for="operation">Operação</label>
                <select class="form-control" name="operation">
                  <option value="Compra">Compra</option>
                  <option value="Venda">Venda</option>
                </select>
              </div>
              <div class="form-group col-xs-12">
                <input type="submit" name="send" value="Gravar" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<% include partials/page_footer %>
</html>
